/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset css start  */

* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
.btn {
  padding: 15px 20px;
  border: 1px solid #f15b22;
  border-radius: 5px;
  transition: all ease-in-out 500ms;
}
.btn-fill {
  background-color: #f15b22;
  color: #fff;
  font-size: 20px;
  transition: all ease-in-out 500ms;
}
.btn-fill:hover {
  background-color: #fff;
  color: #f15b22;
}
.container {
  width: 1140px;
  display: block;
  margin: 0 auto;
}
.my-140 {
  margin-top: 140px;
  margin-bottom: 140px;
}
section {
  float: left;
  display: block;
  width: 100%;
}
/* reset css end  */
/* header content css start  */

.header-section {
  width: 100%;
  background-image: url("../images/paperlight-banner.png");
  min-height: 808px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  float: left;
}
/* Main content css start  */
.main-content {
  width: 525px;
  float: right;
  text-align: right;
  height: 441px;
  display: block;
}
.header-section .flex-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 808px;
}
.header-section .head-title {
  font-size: 65px;
}
.header-section .btn {
  margin-top: 30px;
}

/* Main content css end  */
/* header content css end  */
/* Hero section css star  */
.hero-section {
  display: block;
  float: left;
}
.hero-section .flex-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 87px;
}
.hero-section .right-text,
.hero-section .left-img {
  width: calc(50% - 44px);
}
.hero-section .right-text .hero-title {
  font-size: 40px;
  font-weight: 700;
}
.hero-section .right-text p {
  font-size: 16px;
  margin-top: 24px;
}
.hero-section .right-text .key-point span {
  margin-left: 15px;
}
.hero-section .right-text .key-point fa.fa-check {
  color: #16d887;
}

/* Hero section css end  */
/* My Place section css start  */
.my-plane {
  text-align: center;
}
.my-plane .section-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}
.my-plane .flex-plane {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}
.my-plane .flex-plane .plane-title {
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 16px 0;
}
.my-plane .flex-plane p {
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  color: #737272;
}
.call-section .bg {
  background-image: url("../images/hand-wash.png");
  height: 300px;
  background-repeat: no-repeat;
  display: block;
}
.bg-overlay {
  border-radius: 8px;
  background: linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  width: 100%;
  height: 100%;
  float: left;
  display: block;
}
.call-section .flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.call-section .flex-content .call-title {
  width: 100%;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  transition: all ease-in-out 500ms;
}
.call-section .flex-item {
  width: 459px;
  margin-left: 64px;
}
.call-section .btn-white {
  background-color: #fff;
  color: #f15b22;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
}
.call-section .btn-white:hover {
  background-color: #ffc2ab;
  color: #fff;
  transition: all ease-in-out 500ms;
}

/* My Place section css end  */
/* Footer section css start  */
.footer {
  background-color: #151414;
  display: block;
  width: 100%;
  height: 100%;
  float: left;
}
.footer .flex-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #fff;
}
.footer .flex-content p {
  width: 485px;
}
.flex-content svg {
  background-color: #fff !important;
  width: 46px;
  height: 46px;
  border-radius: 46px;
  font-size: 20px;
  padding: 10px;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}
.flex-content .social-icon {
  margin-top: 32px;
}
.flex-content .social-icon .fa-brands {
  width: 20px !important;
  height: 20px !important;
}
.flex-content .social-icon .fa-x-twitter {
  color: #151414;
}
.flex-content .social-icon .fa-facebook-f {
  color: #006aff;
}
.flex-content .social-icon .fa-youtube {
  color: #ff0000;
}
.flex-content .left {
  width: calc(100% - 325px);
}
.footer .section-title {
  font-size: 45px;
}
.footer p {
  line-height: 26px;
  padding: 20px 0;
}
.footer .subs-cont {
  width: 100%;
  display: block;
  float: left;
}
.subs-cont .form-control {
  width: 100%;
  height: 36px;
  display: block;
  float: left;
  border-radius: 5px;
  padding-left: 15px;
  margin: 20px 0;
}
.footer .subs-cont .subs {
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
}
.footer .subs-cont .subs-btn {
  float: left;
  background-color: #fff;
  color: #f15b22;
  border: none;
}
.footer .subs-cont .subs-btn:hover {
  background-color: #f15b22;
  color: #fff;
  transition: all ease-in-out 500ms;
}
.copyrite {
  display: block;
  float: left;
  text-align: center;
  background-color: #f15b22;
  width: 100%;
}
.copyrite p {
  padding: 15px !important;
}
.copyrite p a {
  color: #fff;
  margin-left: 15px;
  font-weight: 700;
}

/* Footer section css end  */

/* media query start  */
/* Extra small devices (phones, 600px and down) */

/* Extra small devices (phones, 600px and down) */

@media (max-width: 600px) {
  header,
  section,
  .container,
  .header-section {
    display: block;
    width: 100% !important;
    float: left;
  }
  img {
    max-width: 100%;
  }
  .header-section {
    min-height: 303px;
    background-position: left center;
  }
  .header-section .flex-content {
    display: block;
    float: left;
    width: 100%;
  }
  .main-content {
    width: 100%;
    display: block;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
