/* google fonts  */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* reset css start  */

* {
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
body {
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
.btn {
  padding: 15px 20px;
  border: 1px solid #f15b22;
  border-radius: 5px;
}
.btn-fill {
  background-color: #f15b22;
  color: #fff;
  font-size: 20px;
}
.container {
  width: 1140px;
  display: block;
  margin: 0 auto;
}
.my-140 {
  margin-top: 140px;
  margin-bottom: 140px;
}
/* reset css end  */
/* header content css start  */

.header-section {
  width: 100%;
  background-image: url("../images/paperlight-banner.png");
  min-height: 808px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  float: left;
}
/* Main content css start  */
.main-content {
  width: 525px;
  float: right;
  text-align: right;
  height: 441px;
  display: block;
}
.header-section .flex-content {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 808px;
}
.header-section .head-title {
  font-size: 65px;
}
.header-section .btn {
  margin-top: 30px;
}

/* Main content css end  */
/* header content css end  */
/* Hero section css star  */
.hero-section {
  display: block;
  float: left;
}
.hero-section .flex-contain {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 87px;
}
.hero-section .right-text,
.hero-section .left-img {
  width: calc(50% - 44px);
}
.hero-section .right-text .hero-title {
  font-size: 40px;
  font-weight: 700;
}
.hero-section .right-text p {
  font-size: 16px;
  margin-top: 24px;
}
.hero-section .right-text .key-point span {
  margin-left: 15px;
}
.hero-section .right-text .key-point fa.fa-check {
  color: #16d887;
}
/* Hero section css end  */
